<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="include/LoadExternalFile.ttinclude" #>
<#@ output extension=".cs" #>
<# Generate("from tt", Host.TemplateFile, "SomeFile.xml"); #>
